@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /*outline: 1px dotted red;*/
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.logo,
.pfp {
  width: 26px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

form {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 10px;
  border: 1px solid #eee;
  border-radius: 20px;
  background-color: #eee;
}

.input {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.search-icon, .arrow-menu {
  font-size: 14px;
  color: #222;
}

input {
  flex: 1;
  border: none;
  font-size: 14px;
  color: #222;
  background-color: transparent;
  cursor: text;
  &:focus {
    outline: none;
  }
  &::placeholder {
    text-transform: capitalize;
    color: #222;
  }
}

.suggestions {
  position: absolute;
  top: 3vw;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  background-color: #fff;
  z-index: 5;
  overflow: hidden;
}

.suggestion {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  cursor: pointer;
  i {
    color: #a1a1a1;
  }
  &:hover {
    background-color: #eee;
  }
}

summary {
  display: flex;
  align-items: center;
  padding: 2px;
  border: 1px solid #eee;
  border-radius: 20px;
  font-style: 14px;
  cursor: pointer;
}

.list {
  position: absolute;
  right: 1vw;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #fff;
  z-index: 3;
}

.l {
  padding: 0 5px;
  font-style: 14px;
  color: #222;
  cursor: pointer;
  border: none;
  background-color: #fff;
  &:hover {
    background-color: #eee;
  }
}

main {
  width: 100%;
  margin: auto;
  columns: 5;
  column-gap: 10px;
  padding: 10px;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  background-color: #00000090;
}

picture {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  break-inside: avoid;
  cursor: pointer;
}

picture img {
  max-width: 100%;
  min-width: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  background-color: #eee;
  &:hover {
    opacity: 0.95;
  }
}

.caption {
  font-size: 14px;
  color: #222;
}